.smith-header{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color:white!important;
}

.smith-text{
  font-size: 2rem;
}

.name-text{
  font-size: 1rem
}